@use "variables" as v;
.alertsContainer {
  .alerts-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 3.125rem;
    width: 100%;
    max-width: 1024px;
    padding: 10px;
    background-color: transparent;
  }

  .headAlert {    
    width: 100%;
    max-width: 1024px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
    background-color: transparent;
    .requestButton {
      width: 95vw;
    }
    button {
      width: 100%;
      max-width: 1024px;
      padding: 0.8rem;
      font-size: 1rem;
      font-weight: bold;
      background: v.$orange-dark;
      color: v.$white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:active {
        transform: scale(0.98);
      }
    }
  }
}
