@use "variables" as v;

.profile-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 3.125rem;
  width: 100%;
  max-width: 1024px;
  padding: 10px;
  background-color: transparent;

  .title {
    width: 100%;
    max-width: 1024px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
    background-color: transparent;
    h2 {
      width: 95vw;
      max-width: 1024px;
      padding: 0.8rem;
      font-size: 1rem;
      font-weight: bold;
      background: v.$text-black;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      color: v.$white;
      text-align: center;
    }
  }

  p {
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    color: v.$text-black;

    span {
      color: v.$orange-dark;
      font-weight: bold;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      background-color: rgba(v.$orange-light, 0.2);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 90vw;
      max-width: 400px;
      padding: 1rem;
      border-radius: 16px;
      border: 1px solid v.$orange-light;

      .input-label {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: v.$text-black;

        div {
          margin-bottom: 0.3rem;
        }

        span {
          color: v.$orange-dark;
        }
      }

      input,
      select {
        width: 100%;
        padding: 0.75rem;
        border: 2px solid v.$text-black;
        border-radius: 8px;
        font-size: 1rem;
        transition: all 0.2s ease-in-out;
        background: v.$white;

        &:focus {
          border-color: v.$orange-dark;
          outline: none;
          box-shadow: 0 0 8px rgba(v.$orange-dark, 0.6);
        }
      }

      select {
        cursor: pointer;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 0px;
      }
      button {
        width: 100%;
        padding: 0.8rem;
        margin-top: 10px;
        font-size: 1rem;
        font-weight: bold;
        background: v.$orange-light;
        color: v.$white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}
.logout, .createPlanningBtn {  
  background-color: v.$text-black;
  width: 100%;
  padding: 0.8rem;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;  
  color: v.$white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:active {
    transform: scale(0.98);
  }
}
/* Tablet */
@media (min-width: 768px) {
  .profile-container {
    padding: 4rem;

    form {
      max-width: 500px;
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .profile-container {
    flex-direction: column;

    h2 {
      font-size: 2.5rem;
    }

    form {
      max-width: 500px;
      padding: 3rem;
    }
  }
}
