// C O L O R S

$orange-dark: #e75420;
$orange-light: #f48329;

$orange-hover: #f1801b;

$white: #fffefe;

$text-gray: #afb2b3;
$text-black: #1f2528;

// F O N T S
// MontSerrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
