@use "variables" as v;
@use "navbar";
@use "login";
@use "calendar";
@use "profile";
@use "switchRequestModal";
@use "alerts";
@use "dashboard";
@use "notification";
@use "confirmationModal";
@use "notFound";
@use "accordion";
@use "statistics";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$white;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
}
